<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ainannan.tool.fileSort.mapper.FilePdfMapper">
	<sql id="column_List" >
        a.id as "id",
		a.name as "name",
		a.bookname as "bookname",
		a.typef as "typef",
		a.type as "type",
		a.author as "author",
		a.page_count as "pageCount",
		a.years as "years",
		a.grade as "grade",
		a.country as "country",
		a.translator as "translator",
		a.press as "press",
		a.state as "state",
		a.create_user as "createUser",
		a.create_date as "createDate",
		a.update_user as "updateUser",
		a.update_date as "updateDate",
		a.del_flag as "delFlag",
		f.size as "size",
		f.old_name as "oldName",
		label.label as "labels"
    </sql>

	<sql id="left_join_include">
		left join file_sort_list f on f.id = a.id
		left join (
			SELECT
				a.pid,
				GROUP_CONCAT(cast(l.label as CHAR) SEPARATOR ',') as label
			FROM
				file_pdf_label_relation a
			LEFT JOIN file_pdf_label l ON l.id = a.labelid

			GROUP BY a.pid

		) label on label.pid = a.id
	</sql>

	<sql id="where_List">
		a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="bookname != null and bookname != ''">
			and a.bookname = #{bookname}
		</if>
		<if test="name != null and name != ''">
			and a.name = #{name}
		</if>
		<if test="typef != null and typef != ''">
			and a.typef = #{typef}
		</if>
		<if test="type != null and type != ''">
			and a.type = #{type}
		</if>
		<if test="author != null and author != ''">
			and a.author = #{author}
		</if>
		<if test="years != null and years != ''">
			and a.years = #{years}
		</if>
		<if test="grade != null and grade != ''">
			and a.grade = #{grade}
		</if>
		<if test="country != null and country != ''">
			and a.country = #{country}
		</if>
		<if test="translator != null and translator != ''">
			and a.translator = #{translator}
		</if>
		<if test="press != null and press != ''">
			and a.press = #{press}
		</if>
		<if test="state != null and state != ''">
			and a.state = #{state}
		</if>
	</sql>

	<select id="get" parameterType="filePdf" resultType="FilePdf">
		select
		<include refid="column_List" />
		from file_pdf a
		<include refid="left_join_include" />
		where a.id = #{id}
	</select>

	<select id="findList" parameterType="filePdf" resultType="FilePdf">
		select
		<include refid="column_List" />
		from file_pdf a
		<include refid="left_join_include" />
		<where>
			<include refid="where_List" />
		</where>
		order by a.state asc, a.create_date asc
	</select>

	<select id="findAuthorList" parameterType="filePdf" resultType="FilePdf">
		SELECT
			author
		FROM
			file_pdf
		where author is not null
		GROUP BY
			author
		ORDER BY
			count(1) DESC
	</select>

	<insert id="insertBySortId">
		INSERT INTO `ainannan`.`file_pdf` (
			`id`,
			`name`,
			`bookname`,
			`typef`,
			`type`,
			`author`,
			`page_count`,
			`years`,
			`grade`,
			`country`,
			`translator`,
			`press`,
			`state`,
			`create_user`,
			`create_date`,
			`update_user`,
			`update_date`,
			`del_flag`
		) SELECT
			a.id,
			substr(a.old_name, 1, CHAR_LENGTH(a.old_name) - 4),
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			'0',
			'admin',
			now(),
			'admin',
			now(),
			'0'
		FROM
			file_sort_list a
		WHERE
			a.id NOT IN (
				SELECT
					id
				FROM
					file_pdf
				WHERE
					del_flag = '0'
			)
	</insert>

	<update id="update">
		UPDATE file_pdf
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="bookname != null and bookname != ''">
				bookname = #{bookname},
			</if>
			<if test="typef != null and typef != ''">
				typef = #{typef},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="author != null and author != ''">
				author = #{author},
			</if>
			<if test="pageCount != null and pageCount != ''">
				page_count = #{pageCount},
			</if>
			<if test="years != null and years != ''">
				years = #{years},
			</if>
			<if test="grade != null and grade != ''">
				grade = #{grade},
			</if>
			<if test="country != null and country != ''">
				country = #{country},
			</if>
			<if test="translator != null and translator != ''">
				translator = #{translator},
			</if>
			<if test="press != null and press != ''">
				press = #{press},
			</if>
			<if test="state != null and state != ''">
				state = #{state},
			</if>
			<if test="updateDate != null">
				update_date = #{updateDate},
			</if>
			<if test="updateUser != null and updateUser != ''">
				update_user = #{updateUser}
			</if>
		</trim>
		WHERE id = #{id}
	</update>

	<update id="updateByList">
		<foreach collection="list" item="entity" separator=";">
			update file_pdf
			<trim prefix="SET" suffixOverrides=",">
				<if test="entity.name != null">
					name = #{entity.name},
				</if>
				<if test="entity.bookname != null">
					bookname = #{entity.bookname},
				</if>
				<if test="entity.typef != null">
					typef = #{entity.typef},
				</if>
				<if test="entity.type != null">
					type = #{entity.type},
				</if>
				<if test="entity.author != null">
					author = #{entity.author},
				</if>
				<if test="entity.pageCount != null">
					page_count = #{entity.pageCount},
				</if>
				<if test="entity.years != null">
					years = #{entity.years},
				</if>
				<if test="entity.grade != null">
					grade = #{entity.grade},
				</if>
				<if test="entity.state != null">
					state = #{entity.state},
				</if>
				<if test="entity.updateUser != null">
					update_user = #{entity.updateUser},
				</if>
				<if test="entity.updateDate != null">
					update_date = #{entity.updateDate},
				</if>
			</trim>
			where id = #{entity.id}
		</foreach>
	</update>

	<delete id="delete">
		update file_pdf set del_flag = '1' where id = #{id}
	</delete>

</mapper>