<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ainannan.tool.fileSort.mapper.FilePdfThumMapper">
	<sql id="FilePdfThum_column_List" >
        a.id as "id",
		a.pid as "pid",
		<if test="showPath != null and showPath != '' and showPath == 1">
			a.path as "path",
		</if>
		a.pagenum as "pagenum",
		a.isthum as "isthum",
		a.create_date as "createDate",
		a.del_flag as "delFlag"
    </sql>

	<sql id="FilePdfThum_left_join_include">
	</sql>

	<sql id="FilePdfThum_where_List">
		a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="isthum != null and isthum != ''">
			and a.isthum = #{isthum}
		</if>
		<if test="pid != null and pid != ''">
			and a.pid = #{pid}
		</if>
		<if test="pagenum != null and pagenum != ''">
			and a.pagenum = #{pagenum}
		</if>
	</sql>


	<select id="getPathById" resultType="FilePdfThum">
		SELECT
			a.path
		FROM file_pdf_thum a
		WHERE a.id = #{id}
	</select>

	<select id="findList" parameterType="filePdfThum" resultType="FilePdfThum">
		select
		<include refid="FilePdfThum_column_List" />
		from file_pdf_thum a
		<include refid="FilePdfThum_left_join_include" />
		<where>
			<include refid="FilePdfThum_where_List" />
		</where>
		order by a.pagenum asc, a.isthum asc
	</select>

	<insert id="insertByList" parameterType="java.util.List">
		INSERT INTO file_pdf_thum(
		id,
		pid,
		pagenum,
		path,
		isthum,
		create_date,
		del_flag
		)
		<foreach collection="list" item="entity"
				 separator=" union all ">
			SELECT
			#{entity.id},
			#{entity.pid},
			#{entity.pagenum},
			#{entity.path},
			#{entity.isthum},
			#{entity.createDate},
			#{entity.delFlag}
		</foreach>
	</insert>
	<delete id="deleteByEntity">
		update file_pdf_thum set del_flag = '1'
		<where>
			1=1
			<if test="id != null and id != ''">
				and id = #{id}
			</if>
			<if test="pid != null and pid != ''">
				and pid = #{pid}
			</if>
		</where>
	</delete>
</mapper>