<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ainannan.tool.fileSort.mapper.FilePdfMapper">
	<sql id="column_List" >
        a.id as "id",
		a.name as "name",
		a.typef as "typef",
		a.type as "type",
		a.author as "author",
		a.page_count as "pageCount",
		a.years as "years",
		a.grade as "grade",
		a.state as "state",
		a.create_by as "createBy",
		a.create_date as "createDate",
		a.update_by as "updateBy",
		a.update_date as "updateDate",
		a.del_flag as "delFlag"
    </sql>

	<sql id="left_join_include">
	</sql>

	<sql id="where_List">
		a.del_flag = #{DEL_FLAG_NORMAL}
		<if test="state != null and state != ''">
			and a.state = #{state}
		</if>
	</sql>


	<select id="findList" parameterType="filePdf" resultType="FilePdf">
		select
		<include refid="column_List" />
		from file_pdf a
		<include refid="left_join_include" />
		<where>
			<include refid="where_List" />
		</where>
		order by a.create_date desc
	</select>

	<insert id="insertBySortId">
		INSERT INTO `ainannan`.`file_pdf` (
			`id`,
			`name`,
			`typef`,
			`type`,
			`author`,
			`page_count`,
			`years`,
			`grade`,
			`state`,
			`create_by`,
			`create_date`,
			`update_by`,
			`update_date`,
			`del_flag`
		) SELECT
			a.id,
			a.old_name,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			NULL,
			'0',
			'admin',
			now(),
			'admin',
			now(),
			'0'
		FROM
			file_sort_list a
		WHERE
			a.id NOT IN (
				SELECT
					id
				FROM
					file_pdf
				WHERE
					del_flag = '0'
			)
	</insert>

	<update id="update">
		UPDATE file_pdf
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null and name != ''">
				name = #{name},
			</if>
			<if test="typef != null and typef != ''">
				typef = #{typef},
			</if>
			<if test="type != null and type != ''">
				type = #{type},
			</if>
			<if test="author != null and author != ''">
				author = #{author},
			</if>
			<if test="pageCount != null and pageCount != ''">
				page_count = #{pageCount},
			</if>
			<if test="years != null and years != ''">
				years = #{years},
			</if>
			<if test="grade != null and grade != ''">
				grade = #{grade},
			</if>
			<if test="state != null and state != ''">
				state = #{state},
			</if>
			<if test="updateDate != null and updateDate != ''">
				update_date = #{updateDate},
			</if>
			<if test="updateUser != null and updateUser != ''">
				update_user = #{updateUser}
			</if>
		</trim>
		WHERE id = #{id}
	</update>

	<update id="updateByList">
		<foreach collection="list" item="entity" separator=";">
			update file_pdf
			<trim prefix="SET" suffixOverrides=",">
				<if test="entity.name != null">
					name = #{entity.name},
				</if>
				<if test="entity.typef != null">
					typef = #{entity.typef},
				</if>
				<if test="entity.type != null">
					type = #{entity.type},
				</if>
				<if test="entity.author != null">
					author = #{entity.author},
				</if>
				<if test="entity.pageCount != null">
					page_count = #{entity.pageCount},
				</if>
				<if test="entity.years != null">
					years = #{entity.years},
				</if>
				<if test="entity.grade != null">
					grade = #{entity.grade},
				</if>
				<if test="entity.state != null">
					state = #{entity.state},
				</if>
				<if test="entity.updateUser != null">
					update_by = #{entity.updateUser},
				</if>
				<if test="entity.updateDate != null">
					update_date = #{entity.updateDate},
				</if>
			</trim>
			where id = #{entity.id}
		</foreach>
	</update>
</mapper>