<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ainannan.tool.cost.mapper.CostLijinMapper">
    
	<sql id="costLijinColumns">
		a.id AS "id",
		a.name AS "name",
		a.money AS "money",
		a.type AS "type",
		a.isyihuan AS "isyihuan",
		a.guishuren AS "guishuren",
		a.reason AS "reason",
		a.input_date AS "inputDate",
		a.yihuan_money AS "yihuanMoney",
		a.yihuan_date AS "yihuanDate",
		a.create_date AS "createDate",
		a.create_user AS "createUser",
		a.update_date AS "updateDate",
		a.update_user AS "updateUser",
		a.del_flag AS "delFlag",
		d.name as "typeName",
		d2.name as "isyihuanName",
		d3.name as "guishurenName"
	</sql>
	
	<sql id="costLijinJoins">
		left join sys_dict d on d.value = a.type and d.label = 'lijin_type'
		left join sys_dict d2 on d2.value = a.isyihuan and d2.label = 'lijin_isyihuan'
		left join sys_dict d3 on d3.value = a.guishuren and d3.label = 'lijin_guishuren'
	</sql>
    
	<select id="get" resultType="CostLijin">
		SELECT 
			<include refid="costLijinColumns"/>
		FROM cost_lijin a
		<include refid="costLijinJoins"/>
		WHERE a.id = #{id}
	</select>
	
	<select id="findList" resultType="CostLijin">
		SELECT 
			<include refid="costLijinColumns"/>
		FROM cost_lijin a
		<include refid="costLijinJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
			<if test="name != null and name != ''">
				AND a.name LIKE 
					<if test="dbType == 'oracle'">'%'||#{name}||'%'</if>
					<if test="dbType == 'mssql'">'%'+#{name}+'%'</if>
					<if test="dbType == 'mysql'">concat('%',#{name},'%')</if>
			</if>
			<if test="type != null and type != ''">
				AND a.type = #{type}
			</if>
			<if test="isyihuan != null and isyihuan != ''">
				AND a.isyihuan = #{isyihuan}
			</if>
			<if test="guishuren != null and guishuren != ''">
				AND a.guishuren = #{guishuren}
			</if>
		</where>
		
		order by a.input_date desc	
	</select>

	<select id="findAllList" resultType="CostLijin">
		SELECT 
			<include refid="costLijinColumns"/>
		FROM cost_lijin a
		<include refid="costLijinJoins"/>
		<where>
			a.del_flag = #{DEL_FLAG_NORMAL}
		</where>
	</select>
		
	<insert id="insert">
		INSERT INTO cost_lijin(
			id,
			name,
			money,
			type,
			isyihuan,
			guishuren,
			reason,
			input_date,
			yihuan_money,
			yihuan_date,
			create_date,
			create_user,
			update_date,
			update_user,
			del_flag
		) VALUE (
			#{id},
			#{name},
			#{money},
			#{type},
			#{isyihuan},
			#{guishuren},
			#{reason},
			#{inputDate},
			#{yihuanMoney},
			#{yihuanDate},
			#{createDate},
			#{createUser},
			#{updateDate},
			#{updateUser},
			#{delFlag}
		)
	</insert>

	<update id="update">
		UPDATE cost_lijin	
		<trim prefix="SET" suffixOverrides=",">
			<if test="name != null and name != ''">
				name = #{name},
			</if>	
			<if test="money != null and money != ''">
				money = #{money},
			</if>	
			<if test="type != null and type != ''">
				type = #{type},
			</if>	
			<if test="isyihuan != null and isyihuan != ''">
				isyihuan = #{isyihuan},
			</if>	
			<if test="guishuren != null and guishuren != ''">
				guishuren = #{guishuren},
			</if>	
			<if test="reason != null and reason != ''">
				reason = #{reason},
			</if>	
			<if test="inputDate != null">
				input_date = #{inputDate},
			</if>	
			<if test="yihuanMoney != null and yihuanMoney != ''">
				yihuan_money = #{yihuanMoney},
			</if>	
			<if test="yihuanDate != null">
				yihuan_date = #{yihuanDate},
			</if>
			<if test="updateDate != null and updateDate != ''">
				update_date = #{updateDate},
			</if>	
			<if test="updateUser != null and updateUser != ''">
				update_user = #{updateUser}
			</if>
		</trim>
		WHERE id = #{id}
	</update>
	
	<update id="delete">	
		UPDATE cost_lijin SET 
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>
	
</mapper>